robotframework==4.1
#robotframework-appiumlibrary==$APPIUM_LIBRARY_VERSION
#robotframework-autoitlibrary==$AUTOIT_LIBRARY_VERSION
robotframework-browser==7.1.1
robotframework-crypto==0.3.0
robotframework-databaselibrary==1.2.4
robotframework-datadriver==1.4.1
#robotframework-datadriver[XLS]
#robotframework-datetime-tz==$DATETIMETZ_VERSION
#robotframework-faker==$FAKER_VERSION
#robotframework-ftplibrary==$FTP_LIBRARY_VERSION
#robotframework-imaplibrary2==$IMAP_LIBRARY_VERSION
#robotframework-pabot==$PABOT_VERSION
#robotframework-requests==$REQUESTS_VERSION
#robotframework-seleniumlibrary==$SELENIUM_LIBRARY_VERSION
#robotframework-soaplibrary
#robotframework-sshlibrary==$SSH_LIBRARY_VERSION
#axe-selenium-python==$AXE_SELENIUM_LIBRARY_VERSION
PyYAML=0.2.5
RESTinstance=1.1.0
